.footer {
  padding: 1.5rem;
  background-color: #3e497a;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  bottom: 0;
}
.icons{
  display: flex;
  height: 3rem;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-around;
}

