.heading{
  margin: 30px;
  text-align: center;
  font-weight: 900;
  color: #3e497a;
}

.projects {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.card{
  width: 18rem;
  margin: 20px;
  color: #3e497a;
  border-radius: 20px;
  box-shadow: 0 5px 5px;
}
:hover.card{
  box-shadow: 0 0 15px;
}
.card-title{
  font-size: smaller;
}

@media only screen and (max-width: 1024px) {
  .card{
    width: 12rem;
  }
}
@media only screen and (max-width: 760px) {
  .card{
    width: 10rem;
  }
}
@media only screen and (max-width: 580px) {
  .projects{
    grid-template-columns: auto auto;
  }
  .card{
    width: 40vw;
  }
}
@media only screen and (max-width: 400px) {
  .projects{
    grid-template-columns: auto;
  }
  .card{
    width: 90vw;
  }
}


